.login-container{
  width: 100%;
  height: 100vh;
  background: #0A131D;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-boxer{
    width: 380px;
    max-width: 90%;
  }
}
